<!DOCTYPE html>
<!-- 이 문서는 HTML5 입니다 라고 명시하는 구문-->
<html>
  <!-- 웹문서의 시작 -->
  <head>
    <!-- 현재 웹 문서의 설정 -->
    <title>홍길동페이지</title>
    <style>
      body {
        background: rgb(183, 208, 208);
      }
    </style>
  </head>
  <body>
    <!-- 현재 웹 문서의 화면에 보여줄 내용 -->
    Hello&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; World!

    <h1>HTML 수업 내용</h1>
    <a href="./myprac.html">myCSSprac</a> <br />
    <a href="1_sample.html">1. 샘플페이지</a> <br />
    <a href="./2_글자관련태그.html">2. 글자 관련 태그 </a> <br />
    <a href="./3_목록관련태그.html">3. 목록 관련 태그</a> <br />
    <a href="4_tableTag.html">4. 표관련태그</a> <br />
    <a href="5_divTag.html">5. 영역 관련 태그</a> <br />
    <a href="6_semanticTag.html">6. 시맨틱 태그(영역 태그의 구조화)</a> <br />
    <a href="7_imageTag.html">7. 이미지 관련 태그 </a> <br />
    <a href="8_mediaTag.html">8. 미디어 관련 태그</a><br />
    <a href="9_hyperlinkTag.html">9. 하이퍼 링크 태그</a> <br />
    <a href="10_formTag.html">10. 양식 제출 관련태그</a>
  </body>
</html>
<!-- 웹문서의 끝 -->
