<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=    <p>첫 번째 단락</p>
    <p>두 번째 단락</p>
    단락 구분이 없는 내용 단락 구분이 없는 내용2
    <h3>문단의 영역을 나누는 태그 (p와 pre차이)</h3>
    <p>
      동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화
      삼천리 화려강산 대한사람 대한으로 길이 보전하세
    </p>
    <pre>
        동해물과 백두산이 마르고 닳도록 
        하느님이 보우하사 우리나라 만세
        무궁화 삼천리 화려강산  
        대한사람 대한으로 길이 보전하세
    </pre>
    <!-- 여러가지 표현 태그 -->
    <h3>밑줄 태그</h3>
    일반 내용 <br />
    <strong> 굵은 글씨</strong> <br />
    <b>굵은 글씨</b> <br />
    <u>밑줄</u> <br />
    <s>일반글씨</s><br />
    2<sup>10</sup><br />
    <em>기울인글자</em><br />
    <mark>강조표시</mark>입니다.<br />
    <br />
    <hr />, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <h2>
      <a href="./0_index.html">처음으로 돌아가기</a>
    </h2>
  </body>
</html>
