<!-- emmet -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--현재 페이지는 utf-8방식을 사용합니다 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글자관련태그</title>
  </head>
  <body>
    <h1>h1 태그입니다</h1>
    <h2>h2 태그입니다</h2>
    <!-- 태그 {내용} + tab -->
    <h3>h3 태그입니다</h3>
    <!-- h4{}*3 + tab  한번에 여러개-->
    <h4>h4 태그입니다</h4>
    <!-- h4{h$@4}*3    자동 넘버링  $@붙이면 몇부터 -->
    <h5>h5 태그입니다</h5>
    <h6>h6 태그입니다</h6>

    <!-- h${h$}*6 하면 6까지 자동 넘버링  $는 ~까지 -->
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>

    <br />

    <hr />
    <h2>
      <a href="./0_index.html">...처음으로 돌아가기</a>
    </h2>
  </body>
</html>
