<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>순서가 없는 목록</h1>
    <!-- ul(unordered list) : 순서가 없는 목록 -->
    <ul>
      과일목록
      <li>딸기</li>
      <li>사과</li>
      <li>망고</li>
      <li>바나나</li>
    </ul>

    <h1>순서가 없는 목록 중첩 사용</h1>
    <ul>
      <li>
        육류
        <ul>
          <li>닭고기</li>
          <li>소고기</li>
          <li>오리고기</li>
        </ul>
      </li>
      <li>채소류</li>
    </ul>
    <hr />
    <!-- ordered list : 순서가 있는 목록 -->
    <h1>순서가 있는 목록</h1>
    <h3>라면 끓이는 순서</h3>
    <ol>
      <li>물을 끓인다.</li>
      <li>면과 스프를 넣는다.</li>
      <li>파송송 계란탁</li>
    </ol>

    <ol type="i">
      <li>자동차</li>
      <li>차인표</li>
      <li>표창원</li>
    </ol>

    <ol type="I">
      <li>자동차</li>
      <li>차인표</li>
      <li>표창원</li>
    </ol>

    <ol type="a">
      <li>자동차</li>
      <li>차인표</li>
      <li>표창원</li>
    </ol>
    <ol type="A">
      <li>자동차</li>
      <li>차인표</li>
      <li>표창원</li>
    </ol>

    <ol type="">
      <li>자동차</li>
      <li>차인표</li>
      <li>표창원</li>
    </ol>

    <ol reversed="reversed">
      <li>자동차</li>
      <li>차인표</li>
      <li>표창원</li>
    </ol>
    <hr />
    <h2>
      <a href="./0_index.html">...처음으로돌아가기</a>
    </h2>
  </body>
</html>
