<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>영역 관련 태그</title>
    <style>
      .first {
        border: 1px solid black;
        background: lightgreen;
        width: 100px;
        height: 100px;
      }
      .second {
        border: 1px solid black;
        background: lightpink;
        width: 100px;
        height: 100px;
      }
      .third {
        border: 1px solid black;
        background: lightblue;
        width: 100px;
        height: 100px;
      }
    </style>
  </head>
  <body>
    <h1>영역 관련 태그</h1>
    <p>p태그, pre태그, div태그, span태그</p>
    <br />
    <h3>div 태그</h3>

    <div class="first">1번째영역</div>
    <div class="second">2번째영역</div>
    <div class="third">3번째영역</div>

    <h3>span 태그</h3>
    <span class="first">1번째 영역</span>
    <span class="second">2번째 영역</span>
    <span class="third">3번째 영역</span>

    <hr />
    <h3>div와 span 태그 범위 확인하기</h3>
    <h4>div 태그 범위</h4>

    <div style="background: hotpink">
      <!-- 임시글자 제공 Lorem ipsum -->
      군인은 현역을 면한 후가 아니면 국무총리로 임명될 수 없다. 나는 헌법을
      준수하고 국가를 보위하며 조국의 평화적 통일과 국민의 자유와 복리의 증진 및
      민족문화의 창달에 노력하여 대통령으로서의 직책을 성실히 수행할 것을 국민
      앞에 엄숙히 선서합니다. 비상계엄하의 군사재판은 군인·군무원의 범죄나
      군사에 관한 간첩죄의 경우와 초병·초소·유독음식물공급·포로에 관한 죄중
      법률이 정한 경우에 한하여 단심으로 할 수 있다. 다만, 사형을 선고한
      경우에는 그러하지 아니하다.
    </div>
    <span style="background: blanchedalmond">
      군인은 현역을 면한 후가 아니면 국무총리로 임명될 수 없다. 나는 헌법을
      준수하고 국가를 보위하며 조국의 평화적 통일과 국민의 자유와 복리의 증진 및
      민족문화의 창달에 노력하여 대통령으로서의 직책을 성실히 수행할 것을 국민
      앞에 엄숙히 선서합니다. 비상계엄하의 군사재판은 군인·군무원의 범죄나
      군사에 관한 간첩죄의 경우와 초병·초소·유독음식물공급·포로에 관한 죄중
      법률이 정한 경우에 한하여 단심으로 할 수 있다. 다만, 사형을 선고한
      경우에는 그러하지 아니하다.
    </span>
    <br />
    <h4>p 태그 범위</h4>
    <p style="background: gold">
      군인은 현역을 면한 후가 아니면 국무총리로 임명될 수 없다. 나는 헌법을
      준수하고 국가를 보위하며 조국의 평화적 통일과 국민의 자유와 복리의 증진 및
      민족문화의 창달에 노력하여 대통령으로서의 직책을 성실히 수행할 것을 국민
      앞에 엄숙히 선서합니다. 비상계엄하의 군사재판은 군인·군무원의 범죄나
      군사에 관한 간첩죄의 경우와 초병·초소·유독음식물공급·포로에 관한 죄중
      법률이 정한 경우에 한하여 단심으로 할 수 있다. 다만, 사형을 선고한
      경우에는 그러하지 아니하다.
    </p>
    <pre style="background: blueviolet">
        군인은 현역을 면한 후가 아니면 국무총리로 임명될 수 없다. 나는 헌법을 준수하고 국가를 보위하며 조국의 평화적 통일과 국민의 자유와 복리의 증진 및 민족문화의 창달에 노력하여 대통령으로서의 직책을 성실히 수행할 것을 국민 앞에 엄숙히 선서합니다. 비상계엄하의 군사재판은 군인·군무원의 범죄나 군사에 관한 간첩죄의 경우와 초병·초소·유독음식물공급·포로에 관한 죄중 법률이 정한 경우에 한하여 단심으로 할 수 있다. 다만, 사형을 선고한 경우에는 
        그러하지 아니하다. (이부분은 영역을 확인하기 위해 임의로 엔터를 입력해 밑으로 내린 줄)
    </pre>

    <hr />
    <h3>iframe 태그 사용하기</h3>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/-7quaBAMCfY"
      title="YouTube video player"
      frameborder="10"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <hr />
    <h2>
      <a href="./0_index.html">처음으로 돌아가기</a>
    </h2>
  </body>
</html>
