<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이미지 관련 태그</title>
  </head>
  <body>
    <h1>이미지 관련 태그</h1>

    <img
      width="300px"
      height="300px"
      src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fthumb2.gettyimageskorea.com%2Fimage_preview%2F700%2F201710%2FEYM%2F760269391.jpg&type=sc960_832"
      alt="이미지 오류났어"
    />
    <img src="../recources/image/꽃1.png" alt="이미지 오류여" />
    <br />
    <h3>alt 속성</h3>
    <img src="../recources/image/집.png" alt="없는사진이 나오겠니" />

    <h4>고정 길이 : 화면 크기가 변해도 사진은 그대로</h4>
    <img src="../recources/image/꽃1.png" width="100" />
    <img src="../recources/image/꽃2.png" width="100" />
    <img src="../recources/image/꽃3.png" width="100" />
    <img src="../recources/image/꽃4.png" width="100" />
    <img src="../recources/image/꽃5.png" width="100" />

    <h4>가변 길이 : 화면 크기에 따라 사진도 크기가 변하는 설정</h4>
    <img src="../recources/image/꽃1.png" width="15%" />
    <img src="../recources/image/꽃2.png" width="15%" />
    <img src="../recources/image/꽃3.png" width="15%" />
    <img src="../recources/image/꽃4.png" width="15%" />
    <img src="../recources/image/꽃5.png" width="15%" />
    <hr />
    <h2>
      <a href="./0_index.html">처음으로 돌아가기</a>
    </h2>
  </body>
</html>
