<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>미디어 관련 태그</title>
  </head>
  <body>
    <h1>미디어 관련 태그</h1>
    <h3>오디로 관련 태그(mp3, ogg)</h3>
    <audio src="" controls="controls"></audio>
    <p>
      기본 구조는 같으나 브라우저마다 지원하는 기능이 다를 수 있으므로, 개발 시
      호환성 체크를 꼭 해야 한다.
    </p>

    <h3>비디오 관련 태그(mp4, avi)</h3>
    <video src="" controls="controls" width="300px" height="200px"></video>

    <hr />
    <h2><a href="./0_index.html">처음으로 돌아가기</a> <br /></h2>
  </body>
</html>
