<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>하이퍼링크 태그</title>
  </head>
  <body>
    <h1 id="menu">하이퍼링크 태그</h1>
    <h3>a 태그를 사용하여 다른 페이지 이동하기</h3>
    <ol type="i">
      <li>
        <a href="./0_index.html">처음페이지</a>
      </li>
      <li>
        <a href="./1_sample.html">샘플 페이지</a>
      </li>
      <li>
        <a href="./3_목록관련태그.html">목록 관련 페이지</a>
      </li>
    </ol>

    <h3>다른 웹사이트 이동하기</h3>
    <ul>
      <li><a href="https://www.naver.com" target="_blank">네이버로 가기</a></li>
      <li>
        <a href="https://www.google.co.kr" target="_blank">구글로 가기</a>
      </li>
      <li><a href="https://www.daum.net/" target="_blank">다음으로 가기</a></li>
    </ul>
    <hr />
    <h3>img태그 클릭 시 페이지 이동하기</h3>
    <a href="https://www.naver.com"
      ><img
        src="../recources/image/꽃5.png"
        alt="ㅎㅇ"
        width="100px"
        height="100px"
      />
    </a>
    <hr />
    <h3>같은 페이지 내의 특정 위치로 이동하기</h3>
    <!-- ul#menu>(li>a[href='#content$']{본문 내용$})*3 -->
    <ul>
      <li><a href="#content1">본문 내용1</a></li>
      <li><a href="#content2">본문 내용2</a></li>
      <li><a href="#content3">본문 내용3</a></li>
    </ul>
    <!-- (h4#content$+p)*3 -->
    <h4 id="content1">1번 내용</h4>
    <p>가나다라마바사</p>
    <p>가나다라마바사</p>
    <p>가나다라마바사</p>
    <p>가나다라마바사</p>
    <p>가나다라마바사</p>
    <p>가나다라마바사</p>
    <p>가나다라마바사</p>
    <p>가나다라마바사</p>
    <p>가나다라마바사</p>
    <h4 id="content2">2번 내용</h4>
    <p>아자차카타파하</p>
    <p>아자차카타파하</p>
    <p>아자차카타파하</p>
    <p>아자차카타파하</p>
    <p>아자차카타파하</p>
    <p>아자차카타파하</p>
    <p>아자차카타파하</p>
    <p>아자차카타파하</p>
    <p>아자차카타파하</p>

    <h4 id="content3">3번 내용</h4>

    <p>아이우에오</p>
    <p>아이우에오</p>
    <p>아이우에오</p>
    <p>아이우에오</p>
    <p>아이우에오</p>
    <p>아이우에오</p>
    <p>아이우에오</p>

    <a href="#menu">(top)</a>
    <!-- 10열에 id=menu있다 -->
    <hr />
    <h2>
      <a href="./0_index.html">처음으로 돌아가기</a>
    </h2>
  </body>
</html>
